*{
 margin: 10px;
 padding: 10px;
}
#container{
 min-width: 950px;
 max-width: 1060px;
 background-color: silver;
 margin: 0px auto;
}
#top-nav{
 min-height: 150px;
 width: auto;
 background-color: green;
}
#side-nav{
 min-height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
}
#main{
 min-height: 450px;
 min-width: 776px;
 width: auto;
 background-color: red;
 display: inline-block;
 vertical-align: top;
}
.sub-content{
 min-height: 200px;
 width: 215px;
 background-color: yellow;
 display: inline-block;
}
#advertisement{
 min-height: 120px;
 width: auto;
 background-color: purple;
  
}